<!DOCTYPE html>
<html lang="en">
<head>  
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static',
                        filename='style_find.css')}}" />
</head>
<body>
<h1>Bad Luck DUDE! try again!</h1>
<a href="http://127.0.0.1:5000/quiz">
    <img alt="Asia" src="https://imageog.flaticon.com/icons/png/512/93/93634.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=FFFFFFFF" style="width:400px;height:200px;
    position:relative;top:100px;left:450px">
    </a>
    </head>
</body>
</html>