<html>
<head>
    <style>

</style>
</head>
<body style="margin: 0 auto; width: 780px;">
<img alt="worldmap" src="https://i.pinimg.com/originals/8c/7e/1d/8c7e1d74d0675b1115c3fb43a6eecbf1.gif" usemap = #worldmap style="width:900px;height:600px;">
<map name = "worldmap">
    <area shape="rect" coords="180, 100, 270, 225" alt = "North America", href = "https://mail.google.com/mail/u/0/#inbox">
    <area shape="rect" coords="250, 300, 370, 400" alt = "South America", href = "https://mail.google.com/mail/u/0/#inbox">
    <area shape="rect" coords="700, 100, 600, 225" alt = "Asia", href = "https://mail.google.com/mail/u/0/#inbox">
    <area shape="rect" coords="450, 50, 570, 150" alt = "Europe", href = "https://mail.google.com/mail/u/0/#inbox">
    <area shape="rect" coords="450, 230, 570, 350" alt = "Africa", href = "https://mail.google.com/mail/u/0/#inbox">
    <area shape="rect" coords="730, 350, 820, 450" alt = "Asutralia", href = "https://mail.google.com/mail/u/0/#inbox">

</map>
</body>

</html>
