
<!DOCTYPE html>
<html>
<body>

<h2>Which North American river would you cross to travel from El Paso, Texas, to ciudad Juarez, Mexico?</h2>

<form>
    <select action="/quiz" id="options" method="POST">
        <option value="Mississipi" checked> Mississipi</option>
        <option value="Missouri"> Missouri</option>
        <option value="Rio Grande"> Rio Grande</option>
        <input type="submit" value="Submit">
    </select>
    <div class="form-group">
        <button class="btn btn-default" type="submit">Submit!</button>
    </div>
</form>

</body>
</html>
